# Python virtual environment
research_venv/
.env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment variables
*.env
.env.*

# IDE / editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and caches
*.log
.cache/